*.py[co]
*.so
*.sw[nop]
.#*
.DS_Store
._*
\#*\#
build
dist
*~
*.log
.coverage
precomputed
.pydevproject
.project
*.sublime-*
virtualenv_run
.tox
*.egg-info/
__pycache__
version
.idea
aws/
emr-debs.tar
dw-config.yaml
ads-dw-config.yaml
